<!DOCTYPE html>
<html>
<head>
  <title>Welcome to my App</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
  <a href="/">Home</a>
  |
  <a href="/contact">Contact Us</a>
  |
  <p>You Last Visited: <%= session[:last_visited_user] %></p>
  <hr>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>